<table class="table">
    <thead class="thead-light">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" *ngFor="let ass of assessments;">
            {{ass.category}}
        </th>
        </tr>
    </thead>
    <tr *ngFor="let data of data; let i=index;">
        <td scope="row">
        {{i+1}}
        </td>
        <td>
        {{data.name}}
        </td>
        <td *ngFor="let mark of data.marks;">
            {{mark}}
        </td>
    </tr>
</table>