<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-1 col-lg-2 bd-sidebar">
      <!-- sidebar nav -->
    </div>
    <main class="col-12 col-md-9 col-lg-8 py-md-3 pl-md-5 bd-content" role="main">
      <h1>
        <i class="fal fa-calendar-week"></i>
        Week overview
      </h1>
      <div class="flex justify-between">
        <div>
          <div class="btn btn-group">
              <button class="btn btn-default"
              (click)="goToPreviousWeek()" matTooltip="Go to previous week" matTooltipPosition="left">
              <i class="fas fa-chevron-left"></i>
            </button>
            <mat-form-field appearance="fill">
              <mat-label>Week {{day.weekNumber}}</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="{{day | date:'shortDate' }}" [(ngModel)]="day"
                (dateChange)="dayFormChanged()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button  class="btn btn-default"
            (click)="goToNextWeek()" matTooltip="Go to next week" matTooltipPosition="right">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
        <div>
          <button class="h-12 w-12 bg-green-200 hover:bg-green-400 rounded-full flex items-center justify-center"
            (click)="add()" matTooltip="Add new lesson" matTooltipPosition="left">
            <i class="fas fa-plus text-xl"></i>
          </button>
        </div>
      </div>
      <div class="flex item-center justify-between">
        <div class="col col-lg-2" *ngFor="let day of days">
          <p class="text-lg font-bold">
            {{day.weekdayLong}}
          </p>
          <p>
            {{day | date:'shortDate' }}
          </p>
          <hr>
          <div *ngFor="let lesson of getLessonsOfTheDay(day);">
            <div class="p-1 mt-2 border-2 border-indigo-100 rounded hover:bg-green-400" matTooltip="Show lesson"
              (click)="show(lesson)"
              [ngClass]="{'border-solid': lesson.hasContent, 'border-dashed': !lesson.hasContent}">
              <div class="flex justify-between">
                <div>
                  <i class="fal fa-door-closed"></i>
                  {{ lesson.room }}
                </div>
                <div>
                  <i class="fal fa-users-class"></i>
                  {{lesson.course.name }}                                  
                  {{ lesson.course.subject }}                  
                </div>
              </div>
              <p class="text-xs truncate">
                {{ lesson.content }}
              </p>
              <div *ngIf="lesson.homework">
                <i class="fas fa-home" [matTooltip]="lesson.homework"></i>
              </div>
              <div class="flex items-justify">
                <div class="text-xs text-left">
                  <i class="fas fa-step-forward"></i>
                  {{lesson.start | date:'shortTime' }}-
                </div>
                <div class="text-xs text-right">
                  {{lesson.end | date:'shortTime' }}
                  <i class="fas fa-step-backward"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- flyout menu?-->
    <div class="col-md-2">
      <h3>
        Todo:
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fas fa-info rounded-full bg-indigo-400 w-6 h-6 flex items-center justify-center"></i>
          Manchmal gibt es auch samstags kurse.
          Ansicht wechselbar 5,6 oder 7 Tage.
        </li>
        <li class="list-group-item">
          <i class="fas fa-info rounded-full bg-indigo-400 w-6 h-6 flex items-center justify-center"></i>
          Add color property to courses.
        </li>
        <li class="list-group-item">
          <i class="fas fa-info rounded-full bg-indigo-400 w-6 h-6 flex items-center justify-center"></i>
          Change alpha with day time
        </li>
      </ul>
    </div>
  </div>
</div>

<app-flyout [visible]="this.editLessonState == 'in'">
  <app-lesson *ngIf="lesson" [lesson]="lesson"></app-lesson>
</app-flyout>