<div class="container-fluid">
  <!-- Lesson focus-->
  <div class="row">
    <div class="col-12 col-md-1 col-lg-2 bd-sidebar">
      <h3>
        Past lessons
      </h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let l of previous"
         (click)="lesson=l">
         <p>{{l.start | date:'fullDate'}}</p>
         <p>{{l.start | date:'shortTime'}}</p>
         <i class="fas fa-home" *ngIf="l.homework" [matTooltip]="l.homework"></i>
       </li>
      </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-8 py-md-3 pl-md-5 bd-content">
      <app-lesson-edit [lesson]="lesson"></app-lesson-edit>
    </div>
    <div class="col-md-2">
      <h3>
        Future lessons
      </h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let l of future"
         (click)="lesson=l">
          <p>{{l.start | date:'fullDate'}}</p>
          <p>{{l.start | date:'shortTime'}}</p>
          <i class="fas fa-home" *ngIf="l.homework" [matTooltip]="l.homework"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

