<div class="p-1 mt-2 border-2 border-indigo-100 rounded hover:bg-green-400" matTooltip="Show lesson"
     [ngClass]="{'border-solid': lesson.hasContent, 'border-dashed': !lesson.hasContent}">
    <div class="flex justify-between">
        <div>
            <i class="fas fa-door-closed"></i>
            {{ lesson.room }}
        </div>
        <div>
            <i class="fal fa-users-class"></i>
            {{lesson.course.name }}
            {{ lesson.course.subject }}
        </div>
    </div>

    <small>
        {{ lesson.content }}
    </small>
    <div *ngIf="lesson.homework">
        <i class="fas fa-home" [matTooltip]="lesson.homework"></i>
    </div>
    <div class="flex items-justify">
        <div class="text-xs text-left">
            <i class="fas fa-step-forward"></i>
            {{lesson.start | date:'shortTime' }}-
        </div>
        <div class="text-xs text-right">
            {{lesson.end | date:'shortTime' }}
            <i class="fas fa-step-backward"></i>
        </div>
    </div>
</div>