<div class="border border-dashed rounded border-1 bg-white bg-opacity-75 border-indigo-200 p-2">

  <div class="flex items-center justify-between">
    <p class="text-lg font-bold">
      {{lesson.course.name}}
    </p>
    <p class="text-lg">
      {{lesson.course.subject}}
    </p>
    <p title="room">
      <i class="fas fa-door-open"></i>
      {{lesson.room}}
    </p>
  </div>
  <div class="flex items-center justify-between">
    <p>
      {{lesson.start | date:'fullDate'}}
    </p>
    <p title="starts at">
      <i class="fas fa-step-forward"></i>{{lesson.start | date:'shortTime'}}
    </p>
    <p title="ends at">
      {{lesson.end | date:'shortTime'}}
      <i class="fas fa-step-backward"></i>
    </p>
  </div>
  <div class="flex items-center justify-between">
    <mat-form-field class="flex-grow">
      <mat-label>Content:</mat-label>
      <input [(ngModel)]="lesson.content" matInput placeholder="Ex. It makes me feel...">
    </mat-form-field>
  </div>
  <div class="flex items-center justify-between">
    <mat-tab-group class="flex-grow">
      <mat-tab label="Detailed Content">
        <mat-form-field class="flex-grow">
          <mat-label>Detailed Content:</mat-label>
          <textarea class="flex-grow" [(ngModel)]="lesson.detailedContent" matInput placeholder="Ex. It makes me feel...">
          </textarea>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Preview">
        <markdown class="flex-grow" [data]="lesson.detailedContent"></markdown>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="flex items-center justify-between">
    <mat-form-field class="flex-grow">
      <mat-label>Homework:</mat-label>
      <textarea [(ngModel)]="lesson.homework" matInput placeholder="Ex. It makes me feel...">
      </textarea>
    </mat-form-field>
  </div>
</div>
