<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-1 col-lg-2 bd-sidebar">
      <!-- sidebar nav -->
      <h2>Courses</h2>
      <div class="list-group list-group-flush">
        <a *ngFor="let c of this.courses" class="list-group-item list-group-item-action cursor-pointer"
           (click)="course = c">
          <i class="fal fa-users-class"></i>
          {{c.name}} {{c.subject}}
        </a>
        <a class="list-group-item list-group-item-action cursor-pointer"
           (click)="add()">
          <i class="fas fa-plus text-xl"></i>
          Add course
        </a>
      </div>
    </div>
    <main class="col-12 col-md-9 col-lg-8 py-md-3 pl-md-5 bd-content" role="main">
      <div class="flex justify-between pt-1">
        <div>
          <h1>
            <i class="fal fa-users-class"></i>
            {{course.name}} {{course.subject}}
          </h1>
        </div>
        <div>
          <button class="h-12 w-12 bg-green-200 hover:bg-green-400 rounded-full flex items-center justify-center"
            (click)="add()" matTooltip="Add new course" matTooltipPosition="left">
            <i class="fas fa-plus text-xl"></i>
          </button>
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Content">
          <div *ngFor="let lesson of lessons">
            <ul class="list-group mt-2">
              <li class="list-group-item">
                <div class="flex justify-between">
                  <div class="text-xs text-left">
                    {{ lesson.start | date:'fullDate' }}
                    <i class="fas fa-step-forward"></i>
                    {{ lesson.start | date:'shortTime' }}
                  </div>
                  <div>
                    <i class="fal fa-door-closed"></i>
                    {{ lesson.room }}
                  </div>
                </div>
                <p class="text-xswa">
                  {{ lesson.content }}
                </p>
                <div *ngIf="lesson.homework">
                  <i class="fas fa-home"></i>
                  {{ lesson.homework }}
                </div>
              </li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="Pupils ({{pupils.length}})">
          <ol class="list-group mt-2">
            <li class="list-group-item" *ngFor="let p of pupils; index as i">
              {{i+1}}. {{ p.name }}
            </li>
            <li class="list-group-item">
              <input placeholder="Enter name">
              <button matTooltip="Add pupil" class="h-6 w-6 bg-green-200 hover:bg-green-400 rounded-full flex items-center justify-center">
                <i class="fas fa-plus"></i>
              </button>
            </li>
          </ol>
        </mat-tab>
        <mat-tab label="Assessments">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="flex items-center justify-between">
                <div>
                  15.11.2020
                </div>
                <div>
                  Exam
                </div>
                <div>
                  Shakespeare
                </div>
                <div>
                  <span class="fa-stack">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i class="far fa-circle fa-stack-1x"></i>
                  </span>
                  3.3
                </div>
                <div>
                  <i class="far fa-balance-scale"></i>
                  2
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="flex items-center justify-between">
                <div>
                  10.12.2020
                </div>
                <div>
                  Test
                </div>
                <div>
                  Voc p80
                </div>
                <div>
                  <span class="fa-stack">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i class="far fa-circle fa-stack-1x"></i>
                  </span>
                  4.0
                </div>
                <div>
                  <i class="far fa-balance-scale"></i>
                  1
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="flex items-center justify-between">
                <div>
                  20.12.2020
                </div>
                <div>
                  Oral
                </div>
                <div>
                  -
                </div>
                <div>
                  <span class="fa-stack">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i class="far fa-circle fa-stack-1x"></i>
                  </span>
                  2.0
                </div>
                <div>
                  <i class="far fa-balance-scale"></i>
                  2
                </div>
              </div>
            </li>
            <li class="list-group-item">

              <div class="flex items-center justify-between">
                <div>
                  22.12.2020
                </div>
                <div>
                  Summary
                </div>
                <div>
                  Halbjahresnoten
                </div>
                <div>
                  <span class="fa-stack">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i class="far fa-circle fa-stack-1x"></i>
                  </span>
                  2.92
                </div>
                <div>
                  <i class="far fa-sigma"></i>
                  5
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="flex items-center justify-between">
                <div>
                  10.01.2021
                </div>
                <div>
                  Test
                </div>
                <div>
                  Voc p80
                </div>
                <div>
                  <span class="fa-stack">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i class="far fa-circle fa-stack-1x"></i>
                  </span>
                  4.0
                </div>
                <div>
                  <i class="far fa-balance-scale"></i>
                  1
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="flex items-center justify-between">
                <div>
                  20.02.2021
                </div>
                <div>
                  Oral
                </div>
                <div>
                  -
                </div>
                <div>
                  <span class="fa-stack">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i class="far fa-circle fa-stack-1x"></i>
                  </span>
                  2.0
                </div>
                <div>
                  <i class="far fa-balance-scale"></i>
                  2
                </div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="flex items-center justify-between">
                <div>
                  04.03.2021
                </div>
                <div>
                  Summary
                </div>
                <div>
                  Zeugnisnote
                </div>
                <div>
                  <span class="fa-stack">
                    <i class="fas fa-slash fa-stack-1x"></i>
                    <i class="far fa-circle fa-stack-1x"></i>
                  </span>
                  2.83
                </div>
                <div>
                  <i class="far fa-sigma"></i>
                  8
                </div>
              </div>
            </li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </main>
    <div class="col-md-2">

    </div>
  </div>
</div>
